[Unit]
Description=Automatic SSH Reverse Tunnel to VPS
After=network-online.target

[Service]
User=rock
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -N -R 0.0.0.0:2000:localhost:2000 rock@143.244.144.17 -o "ExitOnForwardFailure=yes"
#Restart=always
#RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
